h2 {
    text-align: center;
    font-style: italic;
}

#nome {
    color: #ffa500;
}

header {
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    display: block;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border: #ffa500;
}